PORT=4000

# CORS
CORS_ORIGIN=http://localhost:5173

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

# Prisma
DATABASE_URL="mysql://user:pass@localhost:3306/sgst_bd"
# ou SQLite:
# DATABASE_URL="file:./dev.db"

